
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
     
    
    
}

/* body{
    overflow-x: hidden;
    position: absolute;
} */
/* .container-main{
    overflow-x: hidden;
    
} */



/*----------------------------------------------------Hero Section-------------------------------------------*/



.hero-section
{
    width: 100%;
    min-height: 100vh;    
    margin: auto;
       
}

.row{
    margin:100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-col-1{
    
    padding: 50px;
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    margin-top: 150px;
}


@media(max-width: 700px)
{
   
    .row{
        margin-top: 10px;
    }

    .hero-col-1{
        
        padding: 20px;
        flex-basis: 40%;
        position: relative; 
        margin-left: 1px;       
        margin-top: 150px;
    }
    .hero-section{
        width: 80%;
    }
}


/*------------------------------------------------------------Elements--------------------------------------------*/

.element-main .element{
    
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.element-1{
    
    width: 100px;
    height: 100px;
    
    left: 19%;
    bottom: 20%; 

    /* left: 287px;
    bottom: 165px; */
    animation: spin 10s linear infinite;
}

.element-1 img{
    width: 100%;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.element-2{
    width: 500px;
    height: 500px;
    
    left:2%;
    bottom: -8%;
    animation: topBounce 3s ease-in-out infinite;
}

.element-2 img{
    width: 100%;
}

@keyframes topBounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}

.element-3{
    width: 1100px;
    height: 1100px;
    
    left: 50%;
    top: -290px;
}

.element-3 img{
    width: 100%;
}

@media(max-width: 700px)
{
    .element-1{
    width: 100px;
    height: 100px;
    
    left: 8%;
    bottom: 8%;
        
    }
    .element-2{
        width: 400px;
        height: 400px;
        
        left:-23%;
        bottom: -22%;
    }

    .element-3{
    width: 800px;
    height: 800px;
    
    left: 50%;
    top: -290px;
    display: none;
    
    }

    
}

/*----------------------------------------------------Stages Section-------------------------------------------*/


.stages-section{    
    width: 80%;
    min-height: 85vh;    
    margin: auto;
    padding-top: 100px;
  /*  box-sizing: border-box;
    overflow: hidden; */
    text-align: center;
}

.stage-col{
    margin-left: 50px;
    margin-right: 50px;
    /*background: #cfcfcf;*/

    padding: 20px 15px;
    box-sizing: border-box;

    flex-basis: 33%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.stage-col img{
   width: 150px; 
   
   transition: 0.5s;
   animation: top-bounce 2s ease-in-out infinite;
   /*background: red;*/
    
    
}
@keyframes top-bounce{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
}

@media(max-width: 700px)
{
    .row{
        flex-direction: column;
    }
}


/*----------------------------------------------------Service Section-------------------------------------------*/

.service-section{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 100px;
    padding-top: 100px;
    text-align: center;   
}

.row-services{
    margin:50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-col{
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 30%;
    /*background: #cfcfcf;*/
}

.service-col img{
    width: 100%;
}

@media(max-width: 700px)
{
    .row-services{
        flex-direction: column;
        margin: 20px 0;
    }
    .service-col{
        margin-top: 20px;
        
    }
}





/*----------------------------------------------------Volunteer Section-------------------------------------------*/

.volunteer-section{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-top: 100px;
   
    background: #353535; 
}

.row-volunteer{
    margin:100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteer-col-1{
    
    flex-basis: 40%;
}

.volunteer-col-1 h2{
    font-size: 35px;
    font-weight: 700;
    color: #cfcfcf;
}

.volunteer-col-1 p{
    /* margin-top: 10px; */
    font-size: 18px;
    font-weight: 500;
    color: gray;
    /* margin-bottom: 10px; */
}

/*----------------------------------------------------Volunteer Form-------------------------------------------*/

.volunteer-form{
    width: 100%;
    padding: 40px;
    background: #353535;
}

.volunteer-form h2{
    font-size: 25px;
    font-weight: 400;
    color: #cfcfcf;
}

.volunteer-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 12px;
    background: #353535;
}

.form-control{
    fill: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cfcfcf;
}

.volunteer-form .input-box input,
.volunteer-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2.5px solid #cfcfcf;
    outline: none;
    resize: none;
}

.volunteer-form .input-box span{
    position: absolute;
    left: 0;

    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;

    pointer-events: none;
    transition: 0.7s;
    color: #cfcfcf;
}


.volunteer-form ,.input-box input:focus ~ span,
.volunteer-form ,.input-box input:valid ~ span,
.volunteer-form ,.input-box textarea:focus ~ span,
.volunteer-form ,.input-box textarea:valid ~ span{
    color: teal;
    font-size: 12px;
    transform: translateY(-20px);
}

.volunteer-form .input-box input[type=submit]
{
    width: 100px;
    background: black;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media(max-width: 700px)
{
    .volunteer-form{
        width: 100%;
        padding: 10px;
    }
    .row-volunteer{
        flex-direction: column;
    }
    .volunteer-col-1{
    
        flex-basis: 80%;
    }
}

/*----------------------------------------------------sign-in-up-section-------------------------------------------*/


.sign-in-section
{
    width: 80%;
    min-height: 100vh;    
    margin: auto;
       
}

.row-sign-in{
    margin:100px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.sign-in-form{
    width: 40%;
    padding: 40px;
}



.sign-in-form h2{
    font-size: 30px;
    color: #353535;
    font-weight: 500;

}

.sign-in-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}


.sign-in-form .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #cfcfcf;
    outline: none;
    resize: none;

}

.sign-in-form .inputBox span{
    position: absolute;
    left: 0;
    
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;

    pointer-events: none;
    transition: 0.5s;
    color: #353535;
}

.sign-in-form .inputBox input:focus ~ span,
.sign-in-form .inputBox input:valid ~ span
{
    color: teal;
    font-size: 12px;
    transform: translateY(-20px);
}

.sign-in-form .inputBox input[type="submit"]
{
    width: 100px;
    background: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


@media(max-width: 700px)
{
   
    .row-sign-in{
        margin-top: 10px;
        flex-direction: column;
    }

    .sign-in-form{
        width: 90%;
    }

    
}

/*-----------------------------------------------------------Slide-in Transition------------------------------------------------- */

.slide-in{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.slide-in.active{
    transform: translateY(0px);
    opacity: 1;
}


