*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
    
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo_mark{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 30px 0;
}

nav{
    flex: 1;
    text-align: left;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: #cfcfcf;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 35px;
    color: #353535;
    font-weight: 120px;
    margin: 20px 0 10px;
}

.col-1 h3{
    font-size: 25px;
    color: #cfcfcf;
    font-weight: 75px;
    margin: 10px 0 10px;
}

.col-1 p{
    font-size: 15px;
    color: #353535;
    

}